@import "../../src/common/styles/scss/var.scss";
@import "../../src/common/styles/scss/mixins.scss";

.main {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
	background-image: url('../assets/img/texture-abstraction_(36).jpg');
  height: 80px;
	box-shadow: 0 3px 15px $bgColorTwo;
}