@import "../../src/common/styles/scss/var.scss";
@import "../../src/common/styles/scss/mixins.scss";

.main {
	position: fixed;
	width: 100%;
	z-index: 100;
	@include flex(flex-end, '', center);
	background-image: url('../assets/img/texture-abstraction_(36).jpg');
  height: 80px;
	box-shadow: 0 3px 15px $bgColorTwo;
}