.main {
  min-height: 15vh;
}

.container {
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.form input, .form textarea {
  width: 100%;
}

.form button {
  width: 50%;
}

/*
    background: #333;    fon
    color: #fff;     button white text
        color: #337ab7	button text blue
    color: #333; button color


    font-size: 15px;
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;


        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    border-bottom: 1px solid #ddd;
        padding: 100px 0px;


        font size
        h2 30
        h3 18
        p 15
        button 14



*/