.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-right: 10px;
}

.main a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.main a:hover {
  color: gold;
  transition: 0.5s;
}