@import "../../common/styles/scss/var.scss";
@import "../../common/styles/scss/mixins";

.main {
	position: absolute;
	right: 10px;
	top: 25px;
	@include flex(space-around, '', center);
	width: 300px;
	a {
		text-decoration: none;
		color: $bgColor;
		transition: 0.3s;
		position: relative;
		&:hover {
			color: $hoverTextColor;
			transition: 0.3s;
			cursor: pointer;
			&::after {
				width: 100%;
				transition: 0.3s;
			}
		}
		&::after {
			@include showBottomHoverLine();
		}
	}
	@media screen and (max-width: 675px){
		display: none;
	}
}