@import "../../common/styles/scss/var.scss";
@import "../../common/styles/scss/mixins.scss";

.main {
	width: 250px;
	min-height: 400px;
	@include flex('', column, center);
	display: flex;
	text-align: center;
	transition: 0.3s;
	border: 2px solid transparent;
	border-radius: 15px;
	&:hover {
		transition: 0.3s;
		background-color: white;
	}
	.image {
		min-width: 200px;
		min-height: 200px;
	}
	.hover {
		color: $hoverTextColor;
		transition: 0.2s;
		h3::after {
			width: 100%;
			transition: 0.3s;
		}
	}
	.project {
		width: 70%;
		@include flex('', column, center);
		margin-bottom: 5px;
		@media screen and (max-width: 250px) {
			min-width: 100%;
		}
		.description {
			width: 100%;
			min-height: 100px;
			text-align: center;
		}
	}
	h3 {
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.42857143;
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0;
		margin-inline-end: 0;
		transition: 0.3s;
		position: relative;
		&::after {
			@include showBottomHoverLine();
			bottom: -10px;
		}
	}
	p {

	}
}

