@import "../../common/styles/scss/var.scss";
@import "../../common/styles/scss/mixins";

.title {
  margin-bottom: 35px;
  position: relative;
	&::after {
		@include showBottomHoverLine();
		width: 50px;
		bottom: -20px;
		background: $textColor;
	}
	h2 {
		margin: 20px 0 0;
		line-height: 25px;
		display: inline-block;
		transition: 0.3s;
	}
}
.hover.title::after {
  width: 100px;
  background-color: $hoverTextColor;
  transition: 0.3s;
}
.hover h2 {
  color: $hoverTextColor;
  transition: 0.3s;
}