@import "../../src/common/styles/scss/var.scss";
@import "../../src/common/styles/scss/mixins.scss";

.main {
	.container {
		@include flex(flex-start, column, '');
		flex-wrap: nowrap;
		height: auto;
		.skillsItems {
			width: 80%;
			@include flex(space-around, row, center);
			flex-wrap: wrap;
			gap: 10px;
			margin-top: 10px;
		}
	}
}

