@import "../../src/common/styles/scss/var.scss";
@import "../../src/common/styles/scss/mixins.scss";

.main {
	flex-direction: row;
	padding-top: 50px;
	.container {
		justify-content: space-around;
		.greeting {
			width: 300px;;
			@include flex('', column, flex-start);
			.title {
				@media screen and (max-width: 775px){
					width: 100%;
					text-align: center;
				}
			}
		}
		.photo {
			width: 300px;
			height: 400px;
			@include flex(space-around, '', center);
		}
		@media screen and (max-width: 770px) {
			@include flex(center, column, center);
		}
	}
}

@media screen and (max-width: 770px) {
	.photo {
		width: 100%;
	}
	.greeting {
		width: 100%;
	}
}