@import "../../src/common/styles/scss/var.scss";
@import "../../src/common/styles/scss/mixins.scss";

.main {
	@include flex(space-between, row, center);
	//padding-top: 50px;
	min-height: 500px;
	.container {
		justify-content: space-around;
		.greeting {
			width: 300px;
			padding-left: 30px;
			@include flex('', column, flex-start);
			.title {
				@media screen and (max-width: 775px){
					width: 100%;
					text-align: center;
				}
			}
		}
		.photo {
			width: 300px;
			height: 300px;
			@include flex(space-around, '', center);
			text-align: center;
			img {
				height: 300px;
			}
		}
		@media screen and (max-width: 770px) {
			@include flex(center, column, center);
		}
	}
}

@media screen and (max-width: 810px) {
	.photo {
		padding-top: 70px;
		width: 100%;
	}
	.greeting {
		width: 100%;
	}
}
