@import './var';

@mixin showBottomHoverLine () {
	position: absolute;
	content: '';
	bottom: -5px;
	height: 1px;
	width: 0;
	z-index: 1;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: $hoverTextColor;
	transition: 0.3s;
}

@mixin flex($justify-content, $flex-direction, $align-items) {
	display: flex;
	justify-content: $justify-content;
	flex-direction: $flex-direction;
	align-items: $align-items;

}