@import "common/styles/scss/var.scss";

.App {
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Raleway', sans-serif;
  background: $bgColor;
  color: $textColor;
	main {
		background-color: $hoverBgColor;
	}
	> section {
		&:nth-child(n) {
			background-color: white;
		}
		&:nth-child(2n) {
			background-color: $hoverBgColor;
		}

	}
}
