.main {
  min-height: 15vh;
  background-color: #f6dec0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  margin: 5px;
  height: 40px;
  align-items: center;
}

.item {
  background-color: #c3ffb1;
  width: 30px;
  height: 30px;
}

.item img {
  width: 90%;
  height: 90%;
  text-align: center;
  transition: 0.3s;
}

.item img:hover {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
