@import "../../src/common/styles/scss/var.scss";
@import "../../src/common/styles/scss/mixins.scss";

.main {
	.container {
		flex-direction: column;
		.projectItems {
			width: 100%;
			@include flex(space-around, row, center);
			flex-wrap: wrap;
			gap: 10px;
			margin-top: 10px;
			@media screen and (max-width: 1285px){
				max-width: 730px;
			}
		}
	}
}




